@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
textarea,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: bold;
}

:root {
  --b0: #333333;
  --b1: #35383f;
  --b2: #70747c;
  --b3: #abb0b9;
  --b4: #d6d9df;
  --b5: #f2f4f8;
  --b6: #ffffff;
  --m0: #7f85f5;
  --m1: #373075;
  --m2: #5f64b8;
  --m3: #d7d9fc;
  --m4: #ecedfe;
  --s1: #13a00e;
  --s2: #f35a39;
  --btn1: #7f85f5;
  --btn2: #5f64b8;
  --btn3: #d6d9df;
  --btn4: #E1E3FF;
  --btn5: #B5B9FF;
  --btn6: #d6d9df;
}

@font-face {
  font-family: "PTD";
  font-weight: 100;
  src: url("/common/font/Pretendard-Thin.woff2") format("woff2"), url("/common/font/Pretendard-Thin.woff") format("woff"), url("/common/font/Pretendard-Thin.otf") format("opentype");
}
@font-face {
  font-family: "PTD";
  font-weight: 200;
  src: url("/common/font/Pretendard-Light.woff2") format("woff2"), url("/common/font/Pretendard-Light.woff") format("woff"), url("/common/font/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "PTD";
  font-weight: 300;
  src: url("/common/font/Pretendard-ExtraLight.woff2") format("woff2"), url("/common/font/Pretendard-ExtraLight.woff") format("woff"), url("/common/font/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "PTD";
  font-weight: 400;
  src: url("/common/font/Pretendard-Regular.woff2") format("woff2"), url("/common/font/Pretendard-Regular.woff") format("woff"), url("/common/font/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "PTD";
  font-weight: 500;
  src: url("/common/font/Pretendard-SemiBold.woff2") format("woff2"), url("/common/font/Pretendard-SemiBold.woff") format("woff"), url("/common/font/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "PTD";
  font-weight: 700;
  src: url("/common/font/Pretendard-Bold.woff2") format("woff2"), url("/common/font/Pretendard-Bold.woff") format("woff"), url("/common/font/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "PTD";
  font-weight: 800;
  src: url("/common/font/Pretendard-ExtraBold.woff2") format("woff2"), url("/common/font/Pretendard-ExtraBold.woff") format("woff"), url("/common/font/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "PTD";
  font-weight: 900;
  src: url("/common/font/Pretendard-Black.woff2") format("woff2"), url("/common/font/Pretendard-Black.woff") format("woff"), url("/common/font/Pretendard-Black.otf") format("opentype");
}
@font-face {
  font-family: "FAS";
  font-weight: 300;
  src: url("../plugins/fontawesome-free-6.1.2-web/webfonts/fa-solid-900.woff2") format("woff2"), url("../plugins/fontawesome-free-6.1.2-web/webfonts/fa-solid-900.ttf") format("truetype");
}
body {
  font-family: "PTD", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--b1);
}
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}

.scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}

.hidden {
  visibility: hidden;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px 24px 24px;
}
.profile .photo {
  width: 72px;
  height: 92px;
  background: var(--b3);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .photo svg {
  color: var(--b6);
  font-size: 32px;
}
.profile .addPhoto {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background: var(--m3);
  position: absolute;
  top: 24%;
  left: 54%;
}
.profile .addPhoto::before {
  content: "\f030";
  font-family: "FAS";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--m2);
  font-size: 18px;
  line-height: 30px;
}

.btn {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.btn.pri {
  background-color: var(--btn1);
  color: var(--b6);
}
.btn.sec {
  background-color: var(--btn4);
  color: var(--m1);
}

.enter {
  width: 100%;
  height: 56px;
  padding: 16px;
  background-color: var(--b4);
  color: var(--b6);
  border-radius: 12px;
  cursor: pointer;
  margin-top: 8px;
}
.enter:hover {
  background-color: var(--btn1);
  color: var(--b6);
  transition: 0.3s;
}

.main #calendar-container {
  margin-bottom: 12px;
}
.main .userSec {
  width: calc(100% - 48px);
  margin: 0 24px 24px;
}
.main .personalWorkerList + .mainWorkerList {
  border-top: none;
  padding-top: 0;
}
.main .personalWorkerList + .mainWorkerList::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #D6D9DF;
}
.submit-employee button {
  background: var(--btn1) !important;
  color: var(--b6) !important;
}

.vacationHeader {
  font-size: 18px;
  font-weight: 700;
}
.vacationHeader .title::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  margin: 0 12px;
  border-radius: 2px;
  background-color: var(--b4);
}
.vacationHeader .num {
  color: var(--m0);
}

.vacationList .current {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid var(--b4);
}
.vacationList .vacationSec + .vacationSec {
  margin-top: 16px;
}
.vacationList .vacationSec > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 4px;
}
.vacationList .vacationSec > .top .state {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: var(--b2);
}
.vacationList .vacationSec > .top .state .stateBtn {
  margin-left: 8px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 11px;
  color: #fff;
}
.vacationList .vacationSec > .top .state .stateBtn.wait {
  background-color: #999999;
}
.vacationList .vacationSec > .top .state .stateBtn.pass {
  background-color: var(--s1);
}
.vacationList .vacationSec > .top .state .stateBtn.companion {
  background-color: var(--s2);
}
.vacationList .vacationSec > .top .date {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  color: var(--b3);
}
.vacationList .vacationSec .userSec .cancleBtn {
  padding: 4px 8px;
  background-color: var(--b3);
  border-radius: 8px;
  color: #fff;
  line-height: 150%;
}

.modal-conBox.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 12px;
  text-align: right;
}
.modal-conBox.right .leftDate {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--b2);
}
.modal-conBox.right .leftDate .date {
  color: var(--b1);
}

header {
  width: 100%;
  height: 56px;
  padding: 12px 24px;
  font-size: 24px;
  background: var(--b5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h3 {
  color: var(--m0);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
header svg {
  color: var(--b1);
}

.masterhead {
  width: 100%;
  height: 56px;
  padding: 12px 24px;
  font-size: 24px;
  background: var(--b4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.masterhead h3 {
  color: var(--b1);
  font-weight: 700;
}
.masterhead svg {
  color: var(--b1);
}

.mainHead {
  width: 100%;
  height: 56px;
  padding: 12px 24px;
  font-size: 24px;
  background: var(--b5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainHead h3 {
  color: var(--m0);
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
}
.mainHead svg {
  color: var(--b1);
}

input {
  font-weight: 400;
}

label {
  font-weight: bold;
  display: block;
  line-height: 1.3rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}
label.must::before {
  content: "*";
  color: var(--s2);
}

.select2-results__option .memoTip {
  padding-left: 0;
}
.select2-results__option .memoTip::after {
  top: -6px;
  left: -5px;
}

span.select2-selection__rendered {
  pointer-events: none;
}

.select2-results__group {
  color: var(--m4);
  font-weight: 700;
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.inputBox button {
  height: 100%;
}
.inputBox input {
  outline: 0;
  background-color: var(--b6);
  border-radius: 12px;
  border: 1px solid var(--b4);
}
.inputBox input:not([type=radio], [type=checkbox]) {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inputBox input:focus {
  border: 1px solid var(--m0);
}
.inputBox input:-moz-read-only {
  background-color: var(--b5) !important;
  pointer-events: none;
}
.inputBox input:read-only {
  background-color: var(--b5) !important;
  pointer-events: none;
}
.inputBox input:-moz-read-only:focus {
  border-color: var(--b3);
}
.inputBox input:read-only:focus {
  border-color: var(--b3);
}
.inputBox input::-moz-placeholder {
  color: var(--b4);
}
.inputBox input::placeholder {
  color: var(--b4);
}
.inputBox input:not([value=""]) ~ .reset {
  display: block;
}
.inputBox input:not([value=""]) ~ .resetVer1 {
  display: block;
}
.inputBox input[type=checkbox], .inputBox input[type=radio] {
  display: none;
}
.inputBox input[type=checkbox] + label, .inputBox input[type=radio] + label {
  display: flex;
  min-width: 24px;
  height: 28px;
  font-weight: 400;
  align-items: center;
  word-break: keep-all;
  padding-left: 28px;
  cursor: pointer;
}
.inputBox input[type=checkbox] + label::before, .inputBox input[type=radio] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--b3);
  background-color: var(--b6);
  border-radius: 50px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}
.inputBox input[type=checkbox]:disabled + label::before, .inputBox input[type=radio]:disabled + label::before {
  background-color: var(--b5);
  border: 1px solid var(--b3);
  box-shadow: none;
}
.inputBox input[type=checkbox]:checked + label::before, .inputBox input[type=radio]:checked + label::before {
  background-color: var(--m0);
  border-color: transparent;
}
.inputBox input[type=checkbox]:checked + label::after, .inputBox input[type=radio]:checked + label::after {
  font-family: "FAS";
  content: "\f00c";
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  color: var(--b6);
}
.inputBox input[type=checkbox].particle:checked + label::after {
  content: "\f068";
}
.inputBox input[type=radio] + label::before {
  border-radius: 50%;
}
.inputBox input[type=radio]:checked + label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--b7);
  border-radius: 50%;
  left: 5px;
}
.inputBox input[type=radio]:disabled + label::before {
  background-color: var(--b5);
  border: 1px solid var(--b3);
  box-shadow: none;
}
.inputBox input.invalid, .inputBox input:invalid {
  border: 1px solid orangered;
}
.inputBox.search input {
  padding-right: 44px;
}
.inputBox.date {
  position: relative;
}
.inputBox.date input {
  padding-right: 30px;
  background: url(/common/images/icons/calendar-days-solid.svg) no-repeat right 6px center;
  background-size: 14px;
}
.inputBox.date input.time {
  background-position-y: url(/common/images/icons/clock-solid.svg) no-repeat right 6px center;
  background-size: 14px;
}
.inputBox.date input:-moz-read-only {
  background-color: var(--b7);
}
.inputBox.date input:read-only {
  background-color: var(--b7);
}
.inputBox.date input:disabled {
  background-color: var(--b5);
}
.inputBox .pwToggleIcon {
  width: 24px;
  height: 24px;
  background: url(/common/images/icon/pw_icon.svg) no-repeat;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}
.inputBox .pwToggleIcon.show {
  background-image: url(/common/images/icon/pw_icon--hide.svg);
}
.inputBox .gps {
  width: auto;
  color: var(--b6);
  padding: 4px 8px;
  background: var(--m0);
  border-radius: 6px;
  margin-left: 4px;
  position: absolute;
  right: 8px;
  top: 40px;
}
.inputBox .mag {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 1px solid var(--m6);
  border-radius: 2px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  right: 3px;
  top: 3px;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.062745098);
  cursor: pointer;
}
.inputBox .mag svg {
  width: 12px;
  color: var(--m4);
}
.inputBox .reset {
  display: none;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  position: absolute;
  right: 24px;
  top: 2px;
  cursor: pointer;
}
.inputBox .reset svg {
  color: var(--m1);
}

.daterangepicker {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1882352941);
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  line-height: 22px;
}
.daterangepicker .drp-calendar {
  font-family: "NSK";
}
.daterangepicker .drp-calendar.right {
  border-left: 1px solid #ddd;
}
.daterangepicker .drp-calendar .table-condensed thead tr th.month {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.daterangepicker .drp-calendar .table-condensed thead tr th.month * {
  width: 100%;
  margin-right: 4px;
}
.daterangepicker .drp-calendar .table-condensed thead tr th.month *:first-child {
  margin-right: 0;
}
.daterangepicker .drp-calendar .table-condensed thead tr:last-child th {
  font-weight: 700;
}
.daterangepicker .drp-calendar .table-condensed thead tr:last-child th:first-child {
  color: orangered;
}
.daterangepicker .drp-calendar .table-condensed thead tr:last-child th:last-child {
  color: cornflowerblue;
}
.daterangepicker .drp-calendar .table-condensed tr {
  display: flex;
  align-items: center;
}
.daterangepicker .drp-buttons .btn {
  padding: unset;
  margin-left: 4px;
  background-color: var(--btn3);
}
.daterangepicker .drp-buttons .btn.applyBtn {
  background-color: var(--btn2);
}
.daterangepicker select {
  border: 1px solid var(--b9);
  border-radius: 2px;
  cursor: pointer;
}
.daterangepicker select:focus {
  border: 1px solid var(--btn2);
}

.textareaBox textarea {
  width: 100%;
  min-height: 120px;
  padding: 8px 12px;
  border: 1px solid #D6D9DF;
  border-radius: 8px;
}
.textareaBox textarea::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.textareaBox textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.textareaBox textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.textareaBox .numberedtextarea-line-numbers {
  color: #333 !important;
  border-right: 1px solid var(--b9);
  width: 20px !important;
  padding-left: unset !important;
  font-weight: 700;
}

input.flexdatalist-alias {
  background: url(/common/images/icons/angle-down-solid.svg) no-repeat top 8px right 8px var(--b7);
  background-size: 10px;
  padding-right: 22px !important;
}
input.flexdatalist-alias:disabled {
  background-color: var(--b5);
}
input.flexdatalist-alias:focus {
  background: url(/common/images/icons/angle-up-solid.svg) no-repeat top 8px right 8px var(--b7);
  background-size: 10px;
}

.flexdatalist-results li {
  padding: 4px 8px;
  cursor: pointer;
}
.flexdatalist-results li:hover {
  background-color: var(--btn2);
  color: var(--b7);
}

input[type=date],
input[type=month],
input[type=time],
input[type=datetime-local] {
  cursor: text;
}
input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type=date]:invalid,
input[type=month]:invalid,
input[type=time]:invalid,
input[type=datetime-local]:invalid {
  border: 1px solid orangered;
}
input[type=date]:-moz-read-only, input[type=month]:-moz-read-only, input[type=time]:-moz-read-only, input[type=datetime-local]:-moz-read-only {
  background-color: var(--b7);
}
input[type=date]:read-only,
input[type=month]:read-only,
input[type=time]:read-only,
input[type=datetime-local]:read-only {
  background-color: var(--b7);
}
input[type=date]:disabled,
input[type=month]:disabled,
input[type=time]:disabled,
input[type=datetime-local]:disabled {
  background-color: var(--b5);
}

.dateRange {
  pointer-events: none;
}
.dateRange input {
  pointer-events: all;
}

.dateRange input[type=text],
.dateSingle,
.month,
.dateTimeSingle {
  padding-right: 30px !important;
  background: var(--b7) url(/common/images/icons/calendar-days-solid.svg) no-repeat right 6px center;
  background-size: 14px;
}

.inputBox .time {
  padding-right: 30px !important;
  background: url(/common/images/icons/clock-solid.svg) no-repeat right 6px center;
  background-size: 14px;
}

.noCalndr .month1 {
  display: none;
}

.date-picker-wrapper {
  font-family: "NSK";
  padding: 16px;
  padding-top: 8px;
  background-color: var(--b7);
  font-size: 14px;
  color: var(--m1);
  border: 1px solid var(--b9);
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1882352941);
  z-index: 300;
}
.date-picker-wrapper .drp_top-bar,
.date-picker-wrapper .drp_top-bar.normal {
  line-height: 1rem;
  padding: 0;
  text-align: right;
  margin-bottom: 0px;
}
.date-picker-wrapper .drp_top-bar .apply-btn,
.date-picker-wrapper .drp_top-bar.normal .apply-btn {
  display: block !important;
  margin-left: auto;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 0 8px;
  line-height: 1.2rem;
  font-size: 0;
  background-color: var(--b2) !important;
  -webkit-mask: url(/common/images/icons/xmark-solid.svg) no-repeat center center;
  mask: url(/common/images/icons/xmark-solid.svg) no-repeat center center;
  -webkit-mask-size: 10px;
  mask-size: 10px;
  box-shadow: 0 0 4px #000;
  color: var(--b1);
  position: relative;
}
.date-picker-wrapper .drp_top-bar .apply-btn:hover,
.date-picker-wrapper .drp_top-bar.normal .apply-btn:hover {
  background-color: orangered !important;
}
.date-picker-wrapper .drp_top-bar .normal-top,
.date-picker-wrapper .drp_top-bar .default-top,
.date-picker-wrapper .drp_top-bar.normal .normal-top,
.date-picker-wrapper .drp_top-bar.normal .default-top {
  display: none;
}
.date-picker-wrapper .month-wrapper {
  width: -moz-fit-content !important;
  width: fit-content !important;
  border: 0;
  padding: 0;
}
.date-picker-wrapper .month-wrapper.two-months {
  min-width: 435px;
}
.date-picker-wrapper .month-wrapper table {
  min-width: 200px;
  position: relative;
}
.date-picker-wrapper .month-wrapper table .caption {
  height: 40px;
}
.date-picker-wrapper .month-wrapper table .caption .prev {
  font-size: 0;
  vertical-align: top;
}
.date-picker-wrapper .month-wrapper table .caption .prev::before {
  content: "\f104";
  font-family: "FAS";
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 2px;
}
.date-picker-wrapper .month-wrapper table .caption .next {
  font-size: 0;
  vertical-align: top;
}
.date-picker-wrapper .month-wrapper table .caption .next::before {
  content: "\f105";
  font-family: "FAS";
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 2px;
}
.date-picker-wrapper .month-wrapper table .caption .prev:hover,
.date-picker-wrapper .month-wrapper table .caption .next:hover {
  color: var(--btn2);
}
.date-picker-wrapper .month-wrapper table .caption .prev:hover::before,
.date-picker-wrapper .month-wrapper table .caption .next:hover::before {
  background-color: var(--m7);
}
.date-picker-wrapper .month-wrapper table .week-name {
  font-weight: 700;
}
.date-picker-wrapper .month-wrapper table .week-name th:first-child {
  color: orangered;
}
.date-picker-wrapper .month-wrapper table .week-name th:last-child {
  color: cornflowerblue;
}
.date-picker-wrapper .month-wrapper table .day {
  transition: all 0.1s;
  outline: 0 solid var(--p3);
  position: relative;
}
.date-picker-wrapper .month-wrapper table .day:hover {
  border-radius: 2px;
  outline: 3px solid var(--p3);
  background-color: transparent !important;
  color: var(--b1) !important;
}
.date-picker-wrapper .month-wrapper table .day.first-date-selected {
  background-color: var(--btn2);
  border-radius: 2px;
}
.date-picker-wrapper .month-wrapper table .day.last-date-selected {
  background-color: var(--btn2);
  border-radius: 2px;
}
.date-picker-wrapper .month-wrapper table .day.checked {
  background-color: var(--m7);
}
.date-picker-wrapper .month-wrapper table .day.real-today {
  background-color: transparent;
}
.date-picker-wrapper .month-wrapper table .day.real-today::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--m1);
  position: absolute;
  top: 2px;
  left: 2px;
}
.date-picker-wrapper .month-wrapper table .day.real-today.checked, .date-picker-wrapper .month-wrapper table .day.real-today.hovering {
  background-color: var(--m7);
}
.date-picker-wrapper .month-wrapper .month-name {
  vertical-align: top;
  transform: translateY(2px);
}
.date-picker-wrapper .month-wrapper .month-name > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 4px;
  line-height: 1.3rem;
  font-size: 16px;
}
.date-picker-wrapper .month-wrapper .month-name > div .select-wrapper {
  padding: 4px;
  color: var(--btn2);
  font-weight: 700;
  font-size: 20px;
}
.date-picker-wrapper .month-wrapper .month-name > div .select-wrapper select {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--b9);
  font-size: 16px;
  color: var(--b1);
}
.date-picker-wrapper .month-wrapper .month-name > div .select-wrapper select option {
  line-height: 1.6rem;
}
.date-picker-wrapper:not(.noCalndr) .time1 > div:first-child {
  margin-top: 20px;
  position: relative;
}
.date-picker-wrapper:not(.noCalndr) .time1 > div:first-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--b3);
  position: absolute;
  top: -8px;
  left: 0;
}
.date-picker-wrapper .time .time1 {
  width: 200px;
  padding: 0;
}
.date-picker-wrapper .time .time1 > div:first-child {
  padding-top: 16px;
}
.date-picker-wrapper .time .time1 > div:first-child > span {
  display: block;
  height: 40px;
  font-size: 0;
}
.date-picker-wrapper .time .time1 > div:first-child > span > span {
  vertical-align: bottom;
  color: var(--btn2);
  font-size: 28px;
  font-weight: 700;
}
.date-picker-wrapper .time .time1 > div:first-child > span > span:first-child::before {
  content: " ⏱ ";
  font-size: 22px;
  vertical-align: top;
}
.date-picker-wrapper .time .time1 > div:first-child > span > span:first-child::after {
  content: " : ";
}
.date-picker-wrapper .time .time1 .hour,
.date-picker-wrapper .time .time1 .minute {
  display: inline-block;
  width: calc((100% - 8px) / 2);
}
.date-picker-wrapper .time .time1 .hour label,
.date-picker-wrapper .time .time1 .minute label {
  display: flex;
  align-items: center;
}
.date-picker-wrapper .time .time1 .hour input[type=number],
.date-picker-wrapper .time .time1 .minute input[type=number] {
  border: 1px solid var(--b9);
  border-radius: 2px;
  padding: 4px 4px 4px 8px;
  flex-grow: 1;
  width: auto;
  margin-left: 4px;
  outline: 0;
}
.date-picker-wrapper .time .time1 .hour input[type=number]:focus,
.date-picker-wrapper .time .time1 .minute input[type=number]:focus {
  border: 1px solid var(--btn2);
}
.date-picker-wrapper .time .time1 .hour {
  margin-right: 8px;
}
.date-picker-wrapper.single-date .month-wrapper table {
  width: 100%;
}

.ui-monthpicker {
  position: fixed;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1882352941);
  transform: translateY(4px);
  z-index: 300 !important;
}

.ui-widget-header {
  background-color: transparent;
  border: 0;
}
.ui-widget-header .ui-state-hover {
  border: 0;
}

.ui-datepicker {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  padding: 12px 16px;
  padding-top: 32px;
  font-family: "NSK";
}
.ui-datepicker td {
  padding: 0px;
}
.ui-datepicker .ui-datepicker-title select {
  color: var(--btn2);
  font-weight: 700;
  font-size: 20px;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-title select::-ms-expand {
  display: none;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  outline: 0;
  font-size: 20px;
}
.ui-datepicker .ui-datepicker-title select option {
  font-size: 16px;
  font-weight: 500;
  color: var(--b1);
}
.ui-datepicker .ui-datepicker-title select:hover {
  text-decoration: underline;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  margin-top: 2px;
  width: 22px;
  height: 22px;
  line-height: 18px;
  cursor: pointer;
}
.ui-datepicker .ui-state-hover {
  background-color: var(--m7);
  color: var(--btn2);
}
.ui-datepicker .ui-datepicker-prev-hover {
  top: 2px;
  left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
  right: 2px;
}
.ui-datepicker .ui-icon.ui-icon-circle-triangle-w {
  background: none;
  text-indent: 0;
  font-size: 0;
  text-align: center;
}
.ui-datepicker .ui-icon.ui-icon-circle-triangle-w::before {
  content: "\f104";
  font-family: "FAS";
  font-size: 12px;
}
.ui-datepicker .ui-icon.ui-icon-circle-triangle-e {
  background: none;
  text-indent: 0;
  font-size: 0;
  text-align: center;
}
.ui-datepicker .ui-icon.ui-icon-circle-triangle-e::before {
  content: "\f105";
  font-family: "FAS";
  font-size: 12px;
}
.ui-datepicker .ui-state-default {
  line-height: 24px;
  text-align: center;
  background-color: transparent;
  outline: 0 solid var(--p3);
  color: var(--b1);
  border: 0;
  border-radius: 2px;
  transition: all 0.1s;
  position: relative;
  font-size: 12px;
  font-weight: 500;
}
.ui-datepicker .ui-state-default.ui-state-highlight::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--m1);
  position: absolute;
  top: 10%;
  left: 10%;
}
.ui-datepicker .ui-state-default.ui-state-active {
  background-color: #49e;
  color: var(--b7);
}
.ui-datepicker .ui-state-default:hover {
  outline: 2px solid var(--p3);
  background-color: transparent;
  color: var(--b1);
}
.ui-datepicker .ui-datepicker-buttonpane {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 8px 16px 0 16px;
  position: absolute;
  top: 4px;
  left: 0;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {
  display: none;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {
  min-width: 0;
  width: 20px;
  height: 20px;
  line-height: 1.2rem;
  font-size: 0;
  font-weight: 300;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  border: 1px solid var(--b9);
  color: var(--b1);
  outline: 0;
  background-color: var(--b2);
  -webkit-mask: url(/common/images/icons/xmark-solid.svg) no-repeat center center;
  mask: url(/common/images/icons/xmark-solid.svg) no-repeat center center;
  -webkit-mask-size: 10px;
  mask-size: 10px;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close:hover {
  background-color: orangered;
}

.manageList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.manageList li {
  background-color: var(--b6);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1254901961);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.manageList li .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.manageList li .title svg {
  color: var(--m0);
  margin-right: 8px;
  font-size: 24px;
  width: 24px;
}
.manageList li .title span {
  font-weight: 600;
}

.mainLogin {
  background-color: var(--b5);
  padding: 24px;
  height: 100vh;
}
.mainLogin .masterLogin {
  margin-top: 32px;
  margin-bottom: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mainLogin .masterLogin span {
  background-color: var(--m3);
  border-radius: 20px;
  color: var(--m0);
  width: 140px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.mainLogin .masterLogin span::before {
  content: "\f021";
  font-family: "FAS";
}
.mainLogin .logoSec {
  width: 100%;
  background-color: var(--b4);
  padding: 28px 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--b2);
}
.mainLogin .logoSec + .loginInput {
  margin-top: 76px;
}
.mainLogin .logoSec + .loginError {
  margin-top: 40px;
}
.mainLogin .loginInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
.mainLogin .loginError {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.mainLogin .loginError span {
  padding-left: 4px;
  color: #70747C;
}
.mainLogin .autoEnter {
  margin-bottom: 8px;
}

#calendar-container {
  text-align: center;
  padding: 24px;
  border-radius: 12px;
  background: var(--b6);
  margin: 24px;
  box-shadow: rgba(0, 0, 0, 0.125) 1px 2px 6px;
}
#calendar-container #calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#calendar-container #calendar-header #prev-month {
  background: unset !important;
  font-size: 20px;
  margin-right: 44px;
  color: var(--b2);
}
#calendar-container #calendar-header #prev-month:hover {
  color: var(--m0);
}
#calendar-container #calendar-header #next-month {
  background: unset !important;
  font-size: 20px;
  color: var(--b2);
}
#calendar-container #calendar-header #next-month:hover {
  color: var(--m0);
}
#calendar-container #toggle-view {
  background: unset !important;
  font-size: 20px;
  color: var(--b2);
  padding-top: 12px;
}
#calendar-container #calendar {
  display: block;
}
#calendar-container #calendar .ui-datepicker {
  width: 100%;
}
#calendar-container #calendar .ui-datepicker th {
  width: 14.2857142857%;
}
#calendar-container #calendar .today-highlight .ui-state-highlight {
  background: var(--m0) !important;
  color: var(--b6) !important;
  font-weight: 700;
}
#calendar-container #calendar .ui-datepicker-header {
  display: none !important;
}
#calendar-container #calendar .ui-widget-content {
  border: unset !important;
}
#calendar-container #calendar .ui-datepicker {
  padding: unset !important;
  padding-top: unset !important;
  font-family: unset !important;
}
#calendar-container #calendar .ui-datepicker .ui-state-default.ui-state-highlight::after {
  content: "";
  display: none !important;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--m1);
  position: absolute;
  top: 10%;
  left: 10%;
}
#calendar-container #calendar .ui-datepicker .ui-state-default.ui-state-active {
  background-color: var(--m3);
}
#calendar-container #calendar .ui-datepicker-calendar thead th span {
  font-size: 12px;
  font-weight: 500;
  color: #ABB0B9;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--b3);
  border-radius: 12px;
  padding: 20px 0;
  margin: 0 24px;
}
.total .workTotal {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.total .workTotal h5, .total .workTotal span {
  color: var(--s1);
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.total .workTotal p {
  color: var(--b3);
}
.total .line {
  width: 2px;
  height: 24px;
  background: var(--b3);
  margin: 0 12px;
}
.total .noneTotal {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.total .noneTotal h5, .total .noneTotal span {
  color: var(--s2);
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.total .noneTotal p {
  color: var(--b3);
}

.gauge {
  background: var(--b4);
  border-radius: 50px;
  color: var(--b6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  position: relative;
  min-width: 150px;
}
.gauge .gauge-text {
  position: absolute;
  z-index: 10;
}
.gauge .gauge-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.gauge .progress-bar {
  background: var(--m0) !important;
  border-radius: 50px;
  height: 22px;
  transition: width 0.3s ease-in-out;
}

.mainList {
  background: var(--b6);
  width: 100%;
  padding-top: 24px;
  border-radius: 12px 12px 0 0;
}
.mainList .mainWorkerList {
  gap: 18px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--b4);
  padding: 24px;
}
.mainList .mainWorkerList .mainUserSec {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--b5);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1254901961);
  border-radius: 12px;
}
.mainList .mainWorkerList .mainUserSec .top {
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
}
.mainList .mainWorkerList .mainUserSec .top .user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mainList .mainWorkerList .mainUserSec .top .user .proImg {
  width: 36px;
  height: 42px;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--b3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainList .mainWorkerList .mainUserSec .top .user .proImg::before {
  content: "\f007";
  font-family: "FAS";
  font-size: 24px;
  color: var(--b6);
  text-align: center;
}
.mainList .mainWorkerList .mainUserSec .top .user .profile {
  width: 100%;
  display: grid;
  padding: 0;
  justify-content: flex-start;
}
.mainList .mainWorkerList .mainUserSec .top .user .profile span {
  font-weight: 500;
  display: inline-flex;
  gap: 4px;
  margin-bottom: 8px;
}
.mainList .mainWorkerList .mainUserSec .top .user .profile span p {
  color: var(--b2);
}
.mainList .mainWorkerList .mainUserSec .top .user .profile bl {
  text-transform: uppercase;
}
.mainList .mainWorkerList .mainUserSec .top .user .profile .unset {
  margin-bottom: unset !important;
}
.mainList .mainWorkerList .mainUserSec .top .time {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mainList .mainWorkerList .mainUserSec .top .time span {
  color: var(--b2);
  font-weight: 500;
  display: flex;
  gap: 12px;
  min-width: 85px;
}
.mainList .mainWorkerList .mainUserSec .top .time span p {
  color: var(--b1);
  text-align: center;
}
.mainList .mainWorkerList .mainUserSec .mainState {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--b3);
  color: var(--b6);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  width: 45px;
  height: 70px;
  padding: 0 4px;
  border-radius: 0 12px 12px 0;
}
.mainList .mainWorkerList .mainUserSec .mainState.gtw {
  background: var(--s1);
}
.mainList .mainWorkerList .mainUserSec .mainState.lw {
  background: var(--s2);
}
.mainList .mainWorkerList .mainUserSec .mainState.vac {
  background: var(--m0);
}
.mainList .mainWorkerList .mainUserSec + .manageList {
  margin-top: 36px;
}

.modalBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}
.modalBox .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 48px);
  height: auto;
  padding: 32px 20px 20px;
  background-color: #FFFFFF;
  border-radius: 16px;
}
.modalBox .modal-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding-bottom: 20px;
  text-align: center;
}
.modalBox .modal-content {
  padding: 4px 8px 8px;
}
.modalBox .modal-content .modal-conBox.flex {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.modalBox .modal-content .inputBox {
  width: 100%;
  flex-direction: column;
}
.modalBox .modal-content .inputBox label {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: var(--b2);
}
.modalBox .modal-content .textareaBox {
  width: 100%;
  flex-direction: column;
}
.modalBox .modal-content .textareaBox label {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: var(--b2);
}
.modalBox .modal-function {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 20px;
}

body {
  width: 100%;
  max-width: 1366px;
  min-width: 360px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.conBox {
  background-color: var(--b5);
  padding: 24px;
  flex: 1;
  overflow-Y: auto;
  height: calc(100vh - 144px);
}
.conBox::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.conBox::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.conBox::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}

.main {
  padding: unset !important;
}

.full {
  height: 100vh;
}

.mt8 {
  margin-top: 8px;
}

.select2-container {
  vertical-align: top;
}
.select2-container .selection .select2-selection {
  height: 48px;
  padding: 8px 12px;
  border: 1px solid var(--b4);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.select2-container .selection .select2-selection .select2-selection__arrow {
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
}
.select2-container .selection .select2-selection .select2-selection__arrow::before {
  font-size: 15px;
  color: var(--b2);
}

.select2-container--open .select2-dropdown {
  margin-top: 4px;
  border: 1px solid var(--m0);
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1254901961);
}
.select2-container--open .select2-dropdown .select2-results .select2-results__options {
  line-height: 1.3rem;
  border-radius: 8px;
}
.select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  padding: 8px 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}
.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--selected {
  background-color: var(--m4);
}
.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted {
  background-color: var(--m3);
}

.select2-container--default .select2-search--dropdown {
  padding: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none !important;
  height: 40px;
  border: 1px solid var(--b4);
  border-radius: 8px;
  position: absolute;
  top: -45px;
  left: 0;
  box-shadow: 0px 4px 12px 0px rgba(33, 34, 53, 0.06);
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: 0;
  border: 1px solid var(--m0);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow::before {
  content: "\f078";
  font-family: "FAS";
  font-size: 10px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before {
  content: "";
  background: url(/common/images/icons/angle-up-solid.svg) no-repeat 0 0/100%;
}
.select2-container--default.select2-container--open .select2-selection--multiple::after {
  content: "";
  background: url(/common/images/icons/angle-up-solid.svg) no-repeat 0 0/100%;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border: 0;
  border-radius: 8px;
}
.select2-container--default .select2-selection--multiple {
  padding-right: 20px;
  padding-bottom: 2px;
}
.select2-container--default .select2-selection--multiple::after {
  content: "";
  background: url(/common/images/icons/angle-down-solid.svg) no-repeat 0 0/100%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  line-height: 20px;
  background-color: var(--b5);
  border: 0;
  border-radius: 8px;
  margin-top: 2px;
  padding-left: 16px;
  border: 1px solid var(--b9);
  border: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 4px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  position: absolute;
  top: 0;
  height: 22px;
  min-width: 0;
  width: 16px;
  line-height: inherit;
  padding: 4px 0px;
  margin-top: 0;
  font-size: 12px;
  border-right: 1px solid var(--b7);
  border-radius: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove > span {
  display: block;
  transform: translate(0, -3px);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: orange;
}
.select2-container--default .select2-search--inline {
  white-space: nowrap;
}
.select2-container--default .select2-search--inline .select2-search__field {
  width: -moz-max-content !important;
  width: max-content !important;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.select + .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
}

.select2-container .select2-selection--multiple .select2-selection__clear {
  width: 100%;
}

.withSearchBar .select2-container--default .selection .select2-selection--single {
  min-height: 28px;
  border: 1px solid var(--b9) !important;
  border-radius: 8px;
  line-height: 22px;
}
.withSearchBar .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before {
  content: "\f078";
  font-family: "FAS";
  font-size: 10px;
  transform: scaleY(-1);
  background: none;
}

.select2-container--default .withSchBarDD .select2-search--dropdown .select2-search__field {
  position: inherit;
  width: calc(100% - 4px);
  margin: 2px;
  padding-left: 26px;
  background: url(/common/images/icons/ibsheet_btn/IB_mag.png) no-repeat 0 0/26px;
}
.select2-container--default .withSchBarDD .select2-search--dropdown .select2-search__field:focus {
  outline: 0;
  border: 1px solid var(--btn2);
}

.submit {
  border-top: 1px solid var(--b4);
  background-color: var(--b5);
  padding: 16px 24px;
  height: 88px;
}
.submit button {
  background: var(--btn4);
  color: var(--m2);
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
}

.tabContainer {
  flex: 1;
  height: 100vh;
  display: flex;
  overflow-Y: auto;
  flex-direction: column;
}
.tabContainer::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.tabContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.tabContainer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.tabContainer .tab {
  flex: 1;
  display: none;
  overflow-Y: auto;
  flex-direction: column;
}
.tabContainer .tab::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.tabContainer .tab::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.tabContainer .tab::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.tabContainer .tab .conBox {
  margin-top: 0;
}
.tabContainer .tab-active {
  display: flex;
}

.innerTabMenu {
  height: 48px;
  overflow-y: visible;
  padding: 0 8px;
  position: relative;
  background: var(--b5);
}
.innerTabMenu::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.innerTabMenu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.innerTabMenu::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 12px;
}
.innerTabMenu::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--b4);
  border-radius: 0 10px 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.innerTabMenu ul {
  display: inline-flex;
  padding-bottom: 16px;
  background-color: transparent;
  position: relative;
  margin-top: 16px;
  width: 100%;
}
.innerTabMenu ul li {
  position: relative;
  z-index: 2;
  width: 100%;
}
.innerTabMenu ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  border-radius: 2px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.innerTabMenu ul li a {
  display: block;
  padding: 0 20px;
  text-align: center;
  color: var(--b3);
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.innerTabMenu ul li.active-a {
  z-index: 3;
}
.innerTabMenu ul li.active-a a {
  background-color: transparent;
  color: var(--m0);
}
.innerTabMenu ul li.active-a::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--m0);
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 186%;
  left: 0;
  z-index: 2;
}
.innerTabMenu ul li.active-a::after {
  background-color: var(--m0);
}
.innerTabMenu ul li:hover::before, .innerTabMenu ul li:hover::after, .innerTabMenu ul li.active-a::before, .innerTabMenu ul li.active-a::after {
  opacity: 1;
}
.innerTabMenu ul li:hover a, .innerTabMenu ul li.active-a a {
  color: var(--m0);
}

.userSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--b6);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1254901961);
  border-radius: 12px;
}
.userSec .top {
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}
.userSec .top .user {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 70%;
}
.userSec .top .user .proImg {
  width: 36px;
  height: 42px;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--b3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.userSec .top .user .proImg::before {
  content: "\f007";
  font-family: "FAS";
  font-size: 24px;
  color: var(--b6);
  text-align: center;
}
.userSec .top .user .profile {
  width: 100%;
  display: grid;
  padding: 0;
  justify-content: flex-start;
}
.userSec .top .user .profile span {
  font-weight: 500;
  display: inline-flex;
  gap: 4px;
  margin-bottom: 8px;
}
.userSec .top .user .profile span p {
  color: var(--b2);
}
.userSec .top .user .profile bl {
  text-transform: uppercase;
}
.userSec .top .user .profile .unset {
  margin-bottom: unset !important;
}
.userSec .top .state {
  width: 30%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: end;
}
.userSec .top .state .wait {
  background: var(--b3);
  color: var(--b6);
  padding: 4px 10px;
  border-radius: 32px;
}
.userSec .top .state .pass {
  background: var(--s1);
  color: var(--b6);
  padding: 4px 10px;
  border-radius: 32px;
}
.userSec .top .state .companion {
  background: var(--s2);
  color: var(--b6);
  padding: 4px 10px;
  border-radius: 32px;
}
.userSec .bot {
  width: 100%;
  display: flex;
  gap: 12px;
  border-top: 1px solid var(--b4);
  padding: 12px 16px;
}
.userSec .bot .rezDate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--b2);
}
.userSec .bot .rezDate span {
  color: var(--b1);
  font-weight: 500;
}
.userSec .bot .subDate {
  color: var(--b3);
}
.userSec + .manageList {
  margin-top: 36px;
}

.workerList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}/*# sourceMappingURL=app.css.map */