:root {
    // base
    --b0: #333333;
    --b1: #35383f;
    --b2: #70747c;
    --b3: #abb0b9;
    --b4: #d6d9df;
    --b5: #f2f4f8;
    --b6: #ffffff;
 
    //main
    --m0: #7f85f5; //base color
 
    --m1: #373075; 
    --m2: #5f64b8; 
    --m3: #d7d9fc;
    --m4: #ecedfe;

    // state 
    --s1: #13a00e;
    --s2: #f35a39;

    // button
    --btn1: #7f85f5; //default
    --btn2: #5f64b8; //hover
    --btn3: #d6d9df; //disabled

    --btn4: #E1E3FF; //sec_default
    --btn5: #B5B9FF; //sec_hover
    --btn6: #d6d9df; //sec_disabled
}