.main{
    #calendar-container{
        margin-bottom: 12px;
    }
    .userSec{
        width: calc(100% - 48px);
        margin: 0 24px 24px;
    }

    .personalWorkerList{

        & + .mainWorkerList{
            border-top: none;
            padding-top: 0;
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #D6D9DF;
            }
        }
        .mainUserSec{
           
        }
    }
}

.submit-employee{
    button{
        background: var(--btn1) !important;
        color: var(--b6) !important;
    }
}