.mainLogin{
    background-color: var(--b5);
    padding: 24px;
    height: 100vh;

    .masterLogin{
        margin-top: 32px;
        margin-bottom: 108px;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        span{
            background-color: var(--m3);
            border-radius: 20px;
            color: var(--m0);
            width: 140px;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            &::before{
                content: "\f021";
                font-family: "FAS";
            }
        }
    }
    
    .logoSec{
        width: 100%;
        background-color: var(--b4);
        padding: 28px 16px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: var(--b2);

        //0303 logoSec 아래 오늘 div에 따른 마진 값 변경
        & + .loginInput{
            margin-top: 76px;
        }
        & + .loginError{
            margin-top: 40px;
        }
    }

    .loginInput{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 20px;
    }

    //0303 직원로그인 화면의 글자 추가
    .loginError{
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
        span{
            padding-left: 4px;
            color: #70747C;
        }

    }

    .autoEnter{
        margin-bottom: 8px;
    }
}