body {
    width: 100%;
    max-width: 1366px;
    min-width: 360px;

    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.conBox{
    background-color: var(--b5);
    padding: 24px;
    flex: 1;
    overflow-Y: auto;
    @include scroll;
    height: calc(100vh - 144px);
}

.full{
    height: 100vh;
}

