.select2-container {
    height: 100%;
    vertical-align: top;


    .selection .select2-selection {
        min-height: 28px;
        border: 1px solid var(--b4);
        border-radius: 2px;
        line-height: 22px;

        .select2-selection__arrow {
            height: 26px;
        }
    }
}

.select2-container--open {
    .select2-dropdown {
        margin-top: 2px;
        border: 1px solid var(--b4);
        border-radius: 2px;
        box-shadow: 3px 3px 6px #00000020;

        .select2-results .select2-results__options {
            line-height: 1.3rem;
            @include scroll();

            .select2-results__option--selected {
                background-color: var(--m4);
            }

            .select2-results__option--highlighted {
                background-color: var(--m3);
            }
        }
    }
}



.select2-container--default {
    .select2-search--dropdown {
        padding: 0;

        .select2-search__field {
            height: 28px;
            border: 1px solid var(--b4);
            border-radius: 2px;
            position: absolute;
            top: -30px;
            left: 0;

            &:focus {
                outline: 0;
                border: 1px solid var(--m0);
            }
        }

    }


    .select2-selection--single .select2-selection__rendered {
        line-height: 26px;
    }

    .select2-selection--single .select2-selection__arrow {
        display: flex;
        align-items: center;
        justify-content: center;

        b {
            display: none;
        }

        &::before {
            content: "\f078";
            font-family: "FAS";
            font-size: 10px;
        }
    }

    &.select2-container--open .select2-selection--single .select2-selection__arrow {
        &::before {
            content: "";
            background: url(/common/images/icons/angle-up-solid.svg) no-repeat 0 0 / 100%;
        }
    }

    &.select2-container--open .select2-selection--multiple::after {
        content: "";
        background: url(/common/images/icons/angle-up-solid.svg) no-repeat 0 0 / 100%;
    }

    &.select2-container--open.select2-container--below .select2-selection--single {
        border: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .select2-selection--multiple {
        padding-right: 20px;
        padding-bottom: 2px;

        &::after {
            content: "";
            background: url(/common/images/icons/angle-down-solid.svg) no-repeat 0 0 / 100%;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 8px;
            right: 8px;
        }

        .select2-selection__choice {
            line-height: 20px;
            background-color: var(--b5);
            border: 0;
            border-radius: 2px;
            margin-top: 2px;
            padding-left: 16px;
            border: 1px solid var(--b9);
            border: 0;
        }

        .select2-selection__choice__display {
            padding-left: 4px;
        }

        .select2-selection__choice__remove {
            position: absolute;
            top: 0;
            height: 22px;
            min-width: 0;
            width: 16px;
            line-height: inherit;
            padding: 4px 0px;
            margin-top: 0;
            font-size: 12px;
            border-right: 1px solid var(--b7);
            border-radius: 0;

            >span {
                display: block;
                transform: translate(0, -3px);
            }

            &:hover {
                color: orange;
            }
        }
    }

    .select2-search--inline {
        white-space: nowrap;

        .select2-search__field {
            width: max-content !important;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
        }
    }
}

.select {
    +.select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: transparent;
    }
}

.select2-container .select2-selection--multiple .select2-selection__clear {
    width: 100%;
}

.withSearchBar {

    .select2-container--default {
        .selection {
            .select2-selection--single {
                min-height: 28px;
                border: 1px solid var(--b9) !important;
                border-radius: 2px;
                line-height: 22px;
            }
        }

        &.select2-container--open .select2-selection--single .select2-selection__arrow {
            &::before {
                content: "\f078";
                font-family: "FAS";
                font-size: 10px;
                transform: scaleY(-1);
                background: none;
            }
        }
    }

}

.select2-container--default {

    .withSchBarDD {

        .select2-search--dropdown {

            .select2-search__field {
                position: inherit;
                width: calc(100% - 4px);
                margin: 2px;
                padding-left: 26px;
                background: url(/common/images/icons/ibsheet_btn/IB_mag.png) no-repeat 0 0 / 26px;

                &:focus {
                    outline: 0;
                    border: 1px solid var(--btn2);
                }
            }


        }

    }
}